*This is an interactive guide walking you through basics of SAQL, up to most advanced and powerful possibilities of Wave Analytics.*

[< Back to homepage](/notebooks)

# Using Funnel Charts

A simple funnel is not very different from a single bar stacked-bar chart where the size of a slice indicates the volume of that stage and its relation to the other stages in that stack. 
To create a simple Wave funnel chart in Explorer, select a measure like sum of amount and group by Stage. Clip this lens to your dashboard and change chart type to funnel.

Unlike a stacked bar, the order of stages is important in a funnel chart though. An easy way to set order is to name stages with a preceding number to indicate its order in the list. For example: "0-Lead", "4-Closed Won", etc. The stage renaming can be done either through the dataflow or via SAQL.

## Stage Renaming

### In the Dataflow

It's possible to rename the Stage using computeExpression action in the dataflow. If desired, labels can be changed from "0-Lead" to "Lead" in the user XMD.  More information on XMD key labels can be found in the Extended Metadata (XMD) Reference.

### In SAQL

The stage renaming can also be done on the fly in SAQL, here is an example:

In [3]:
%%saql
q = load "opportunities";
q = foreach q generate (case
        when 'StageName' == "Prospecting" then "0 - Prospecting"
        when 'StageName' == "Qualification" then "1 - Qualification"
        when 'StageName' == "Needs Analysis" then "2 - Needs Analysis"
        when 'StageName' == "Perception Analysis" then "3 - Perception Analysis"
        when 'StageName' == "Proposal/Price Quote" then "4 - Proposal/Price Quote"
        when 'StageName' == "Negotiation/Review" then "5 - Negotiation/Review"
        when 'StageName' == "Negotiation/Review" then "6 - Negotiation/Review"
        when 'StageName' == "Closed Won" then "7 - Closed Won"
        when 'StageName' == "Closed Lost" then "7 - Closed Lost"
        else "N/A"
    end) as 'StageName', 'Amount';
q = group q by ('StageName');
q = foreach q generate 'StageName', sum('Amount') as 'sum_Amount';
q = order q by 'StageName';

User "kim@waverocks.de" running query on https://na30.salesforce.com

                  StageName   sum_Amount
0           0 - Prospecting   24597662.0
1         1 - Qualification   53942843.0
2        2 - Needs Analysis   64842060.0
3   3 - Perception Analysis   38981892.0
4  4 - Proposal/Price Quote   15889140.0
5    5 - Negotiation/Review   17044891.0
6           7 - Closed Lost  146398939.0
7            7 - Closed Won  431338929.0
8                       N/A   29715331.0

And here is the related JSON query object for the dashboard:

```json
"query": {
    "pigql": "q = load \"opportunities\"; q = foreach q generate (case  when 'StageName' == \"Prospecting\" then \"0 - Prospecting\"  when 'StageName' == \"Qualification\" then \"1 - Qualification\"  when 'StageName' == \"Needs Analysis\" then \"2 - Needs Analysis\"  when 'StageName' == \"Perception Analysis\" then \"3 - Perception Analysis\"  when 'StageName' == \"Proposal/Price Quote\" then \"4 - Proposal/Price Quote\"  when 'StageName' == \"Negotiation/Review\" then \"5 - Negotiation/Review\"  when 'StageName' == \"Negotiation/Review\" then \"6 - Negotiation/Review\"  when 'StageName' == \"Closed Won\" then \"7 - Closed Won\"  when 'StageName' == \"Closed Lost\" then \"7 - Closed Lost\"  else \"N/A\"  end) as 'StageName', 'Amount'; q = group q by ('StageName'); q = foreach q generate 'StageName' as 'StageName', sum('Amount') as 'sum_Amount'; q = order q by 'StageName';",
    "measures": [
        [
            "sum",
            "Amount"
        ]
    ],
    "groups": [
        "StageName"
    ]
},
```