*This is an interactive guide walking you through basics of SAQL, up to most advanced and powerful possibilities of Wave Analytics.*

[< Back to homepage](/notebooks/Home.ipynb)

# Getting Started
**S**alesforce **A**nalytics **Q**uery **L**anguage (**SAQL**) is the official query language of Wave Analytics Cloud. Almost every action you take in the Analytics Cloud results in one or more SAQL queries. Every lens, dashboard, and explorer action generates and executes a SAQL statement to build the data needed for the visualisation.

## Your First SAQL Query

SAQL queries are a sequence of steps, much like in a programming language, each of which carries out a single data transformation.

Let's get the count of all opportunities by running our first SAQL query. Click ![execute](/images/execute.png) in the toolbar (or `Shift+Enter`):

In [3]:
%%saql
q = load "opportunities";
q = group q by all;
q = foreach q generate count() as 'count';

No OAuth information. Make sure you have runned the "%run saql_init.py".

### Query Explaination

The query is composed of 3 basic steps:

- `q = load "opportunities";`

This first step will load the dataset you're interested in. You can then use it by using the `q` variable in the following lines.

- `q = group q by all;`

As we want the count of **all** opportunities, we need to specify the there is not grouping, i.e. grouping `by all`.

- `q = foreach q generate count() as 'count';`

Last, but not least, as it is this line that will generate the output of your query. Here we are simply counting the number of lines, i.e. of opportunities.

**N.B.:** If your query don't finish by a `foreach X generate ...` statement, your query will be invalid as it won't return any results. Try it out yourself, remove the last line of the query above and run it! (or press shift+enter) You should receive a 'no query to run' error.

# Grouping By

(blah blah blah...)

In [21]:
%%saql
q = load "opportunities";
q = group q by 'Account.Industry';
q = foreach q generate 'Account.Industry' as Industry, sum('Amount') as 'sum_Amount';
q = order q by 'sum_Amount' desc; 
q = limit q 2000;

User "kim@waverocks.de" running query on https://na30.salesforce.com

              Industry  sum_Amount
0              Banking  74618602.0
1               Energy  63201449.0
2        Biotechnology  60253486.0
3           Technology  57727272.0
4              Apparel  54939473.0
5          Engineering  50796006.0
6            Insurance  50273399.0
7          Electronics  50186896.0
8            Education  42096223.0
9           Consulting  38802688.0
10               Media  32009332.0
11      Transportation  30060040.0
12          Healthcare  29962077.0
13       Manufacturing  29937378.0
14         Agriculture  29597421.0
15           Utilities  28305480.0
16              Retail  28056719.0
17  Telecommunications  23298160.0
18             Finance  21215667.0
19      Communications  19053923.0