*This is an interactive guide walking you through basics of SAQL, up to most advanced and powerful possibilities of Wave Analytics.*

[< Back to homepage](/notebooks)

# Getting Started
**S**alesforce **A**nalytics **Q**uery **L**anguage (**SAQL**) is the official query language of Wave Analytics Cloud. Almost every action you take in the Analytics Cloud results in one or more SAQL queries. Every lens, dashboard, and explorer action generates and executes a SAQL statement to build the data needed for the visualisation.

## Your First SAQL Query

SAQL queries are a sequence of steps, much like in a programming language, each of which carries out a single data transformation.

Let's get the count of all opportunities by running our first SAQL query.

In [1]:
%%saql
q = load "opportunities";
q = group q by all;
q = foreach q generate count() as 'count';

User "kim@waverocks.de" running query on https://na30.salesforce.com

   count
0    706

### Query Explaination

The SAQL queries are computed line by line. This query is composed of 3 basic steps:

- `q = load "opportunities";`

This first step will load the dataset you're interested in. You can then use it by using the `q` variable in the following lines.

- `q = group q by all;`

As we want the count of **all** opportunities, we need to specify the there is not grouping, i.e. grouping `by all`.

- `q = foreach q generate count() as 'count';`

Last, but not least, as it is this line that will generate the output of your query. Here we are simply counting the number of lines, i.e. of opportunities.

**N.B.:** If your query don't finish by a `foreach X generate ...` statement, your query will be invalid as it won't return any results. Try it out yourself, remove the last line of the query above and run it! You should receive a 'no query to run' error.

## Aggregate Function

In the last example, we've counted the number of opportunities. Overall, you might be more interested into doing some calculation on the Amount measure of each opportunities. That's when [aggregate functions](https://developer.salesforce.com/docs/atlas.en-us.202.0.bi_dev_guide_saql.meta/bi_dev_guide_saql/bi_saql_functions_aggregate.htm) comes in.

You can do `sum`, `avg` and all sort of calculations on a measure. Look at this example for Amount:

In [2]:
%%saql
q = load "opportunities";
q = group q by all;
q = foreach q generate sum('Amount') as 'sum_Amount';

User "kim@waverocks.de" running query on https://na30.salesforce.com

    sum_Amount
0  805390648.0

**NB:** Don't forget that there is a lot of other functions you can use. See the [list here](https://developer.salesforce.com/docs/atlas.en-us.202.0.bi_dev_guide_saql.meta/bi_dev_guide_saql/bi_saql_functions_aggregate.htm).

## Grouping By

Let's say you wanted to see how much revenue you got by Industry, you can use the `group by` statement, and don't forget to add the new dimension to the `foreach (...) generate (...)` statement.

In [5]:
%%saql
q = load "opportunities";
q = group q by 'Account.Industry';
q = foreach q generate 'Account.Industry' as Industry, sum('Amount') as 'sum_Amount';

User "kim@waverocks.de" running query on https://na30.salesforce.com

              Industry  sum_Amount
0          Agriculture  30320712.0
1              Apparel  58137493.0
2              Banking  75597347.0
3        Biotechnology  52154553.0
4       Communications  25145569.0
5           Consulting  39068681.0
6            Education  37887555.0
7          Electronics  44232929.0
8               Energy  69769895.0
9          Engineering  49627246.0
10             Finance  18038547.0
11          Healthcare  28778037.0
12           Insurance  50199615.0
13       Manufacturing  34163510.0
14               Media  30392380.0
15              Retail  28173929.0
16          Technology  47299632.0
17  Telecommunications  25389458.0
18      Transportation  31571715.0
19           Utilities  29441845.0

By default, it's ordering alphabetically on the grouped dimension, here Industry.

## Order by

Here is another example to order the most profitable industry on top:

In [7]:
%%saql
q = load "opportunities";
q = group q by 'Account.Industry';
q = foreach q generate 'Account.Industry' as Industry, sum('Amount') as 'sum_Amount';
q = order q by 'sum_Amount' desc;

User "kim@waverocks.de" running query on https://na30.salesforce.com

              Industry  sum_Amount
0              Banking  75597347.0
1               Energy  69769895.0
2              Apparel  58137493.0
3        Biotechnology  52154553.0
4            Insurance  50199615.0
5          Engineering  49627246.0
6           Technology  47299632.0
7          Electronics  44232929.0
8           Consulting  39068681.0
9            Education  37887555.0
10       Manufacturing  34163510.0
11      Transportation  31571715.0
12               Media  30392380.0
13         Agriculture  30320712.0
14           Utilities  29441845.0
15          Healthcare  28778037.0
16              Retail  28173929.0
17  Telecommunications  25389458.0
18      Communications  25145569.0
19             Finance  18038547.0

[>> Case Statement](/notebooks/case-statement)